#extraFeaturesPanel {
    background-color: $main-alternate-color;
    color: $main-alternate-text-color;

    header {
        text-align: right;
        height: 48px;
        font-size: 24pt;

        .button {
            @include icon-font();

            .label {
                padding-top: 8px;
                padding-right: 8px;
            }
        }
    }

    ul.menu {
        padding: 8px 8px;


        li {
            list-style: none;
            border-bottom: 1px solid $main-alternate-text-color;
            padding: 8px 0;

            &:before {
                @include icon-font();
                content: "\e60d";
                color: $main-alternate-text-color;
            }

            &:hover {
                    background-color: $main-alternate-text-color;
                    color: $main-alternate-color;
            }
        }


    }
}
